
{% extends 'base.html' %}
{% block title %}

Practice
{% endblock title %}
<script>
$("form input:radio").change(function () {
    if ($(this).val() == "walk_in") {
        // Disable your roomnumber element here
        $('.{{ i.id }}').attr('disabled', 'disabled');
    } else {
        // Re-enable here I guess
        $('.{{ i.id }}').removeAttr('disabled');
    }
});
</script>
{% block body %}

   <form action="result" method="POST">
    {% csrf_token %}
{% for i in questions %}

    <div class="container border"><br />
    <h2>{{ i.question }} : </h2>
    <b>
    <hr></b>
    <div class="form-check p-2 ">
    <input class="form-check-input" type="radio" name="{{ i.id }}" id="{{ i.opt1 }}" value="{{ i.opt1 }}" required>
    <label class="form-check-label" for="{{ i.opt1 }}">
        {{ i.opt1 }}
    </label>
    </div>
    <hr>
    <div class="form-check  p-2 ">
    <input class="form-check-input" type="radio" name="{{ i.id }}" id="{{ i.opt2 }}" value="{{ i.opt2 }}">
    <label class="form-check-label" for="{{ i.opt2 }}">
        {{ i.opt2 }}
    </label>
    </div>
    <hr>
    <div class="form-check  p-2 ">
    <input class="form-check-input" type="radio" name="{{ i.id }}" id="{{ i.opt3 }}" value="{{ i.opt3 }}" >
    <label class="form-check-label" for="{{ i.opt3 }}">
        {{ i.opt3 }}
    </label>
    </div>
    <hr>
    <div class="form-check  p-2 ">
    <input class="form-check-input" type="radio" name="{{ i.id }}" id="{{ i.opt4 }}" value="{{ i.opt4 }}">
    <label class="form-check-label" for="{{ i.opt4 }}">
        {{ i.opt4 }}
    </label>
    </div>

    </div>

    <br />
{% endfor %}
    
<input type="submit" name="submit_button">

    </form>
{% endblock body %}